<br/>
<script src="dependencies/loading-bar.js"></script>
<link rel="stylesheet" type="text/css" href="dependencies/loading.css">

<script src="dependencies/work.js"></script>

<link rel="stylesheet" type="text/css" href="dependencies/jstarbox.css">
<script src="dependencies/jstarbox.js"></script>

<label class="myLabel" id="imgCont">
    <input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*"
           ngf-max-size="20MB" id="takePicture"/>
    <span id="pictureText">Take a Picture</span>
    <img id="testing" src="#"/>
</label>
<span id="BeerName">Beer Name: <input type="text" ng-model="formData.BeerName"/> </span><br/> <br/> <br/>
<span id="Brewer">Brewer: <input type="text" ng-model="formData.Brewer"/></span> <br/> <br/> <br/>
<div id="divRating">
    <label>Rating:</label> <br/>
    <div class="starbox"></div>
</div>

<span id="Type">Type: <br/><input type="text" ng-model="formData.Type"
                                  placeholder="E.g(IPA, Lager, Stout, Porter)"/> </span><br/><br/>
<br/>
Appearance: <br/> <textarea id="Appearance" rows="2" cols="40" placeholder="E.g(Pale,Golden,Cloudy)"/></textarea> <br/>
Aroma: <br/><textarea id="Aroma" rows="2" cols="40" placeholder="E.g(Toasty,Caramel,Chocolate,Herbal)"></textarea> <br/>
Taste: <br/><textarea id="Taste" rows="3" cols="40" placeholder="E.g(Bitter with a bite at the end"/></textarea>
<br/>
<input type="hidden" ng-model="formData.Taste" value=""/>
<input type="hidden" ng-model="formData.Appearance" value=""/>
<input type="hidden" ng-model="formData.Smell" value=""/>
<input type="hidden" id="RatingVal" ng-model="formData.Rating" value=""/>
<input type="hidden" ng-model="formData.PathToFile" value="./Uploads/"/>
<input type="hidden" id="buyAgain" ng-model="formData.BuyAgain" value=""/>
Buy Again? <br/>
<form>
        <span>
            <input type="radio" name="buyAgain" value="Yes" checked> Yes
            <input type="radio" name="buyAgain" value="No"> No
            <span id="tab"></span>  <span id="tab"></span>
            <span class="ld ld-ring ld-spin" id = "spinner"></span>
            <button type="submit" ng-model="test" ng-click="submit()" id = "submitter">Add A Beer</button>
        </span>
</form>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#testing').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#testing").hide();
    $("#takePicture").change(function () {
        let containerX = $("#imgCont")[0].offsetLeft;
        let containerY = $("#imgCont")[0].offsetTop;
        $("#testing").show().css({
            height: "100px",
            width: "100px",
            position: "relative",
            top: "-26px",
            left: "-6px"
        });
        readURL(this);
    });
</script>

</body>
</html>