<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
<link rel="stylesheet" href="./../dependencies/login.css">
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Username</label>
                    <input id="inuser" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign In">
                </div>
            </div>
            <form name = "signUpForm">
            <div class="sign-up-htm">
                <div class="group">
                    <label for="user" class="label">Username</label>
                    <input id="upuser" type="text" token-input class="input" name="username" ng-model="username" ng-keyup="checkNames(signUpForm)">
                </div>
                <span ng-show=" signUpForm.username.$invalid">User name is taken</span>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input id="pass" type="password" class="input" data-type="password" ng-model="pass">
                </div>
                <div class="group">
                    <label for="pass" class="label">Repeat Password</label>
                    <input id="pass2" type="password" name="pass2" class="input" data-type="password" ng-model="pass2" ng-keyup="checkPass(signUpForm)">
                </div>
                <span ng-show=" signUpForm.pass2.$invalid">Passwords do not match</span>
                <div class="group">
                    <input type="submit" class="button" value="Sign Up" ng-disabled="signUpForm.pass2.$invalid || signUpForm.username.$invalid" ng-click="submit()">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1">Already Member?</a>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
